@model NoteBook.Models.Note
@{
    ViewBag.Title = "Добавить дела и безделие";
}
<!DOCTYPE html>

<html>
<head>
    <title>Ежедневник</title>
</head>
<body>
    <form asp-action="create" asp-controller="home">
        <div class="form-group">

            <label asp-for="Day" class="control-label">День</label>
            <input type="text" asp-for="Day" class="form-control" />

        </div>
        <div class="form-group">

            <label asp-for="Task" class="control-label">Задание</label>
            <input type="text" asp-for="Task" class="form-control" />

        </div>
        <div class="form-group">

            <label asp-for="Time" class="control-label">Время</label>

            <input type="number" asp-for="Time" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Создать" class="btn btn-default" />

        </div>
    </form>
</body>
</html>
