@model NoteBook.Models.Note
@{
    ViewBag.Title = "Изменить";
}
<!DOCTYPE html>
<html>
<head>
    <title>Ежедневник</title>
</head>
<body> 
    <form asp-action="Edit" asp-controller="home">
     
        <div class="form-group">

            <label asp-for="Task" class="control-label">Задание</label>
            <input type="text" asp-for="Task" class="form-control" />

        </div>
     <hr/>
        <div class="form-group">

            <input type="submit" value="Создать" class="btn btn-default" />

        </div>
    </form>
</body>
</html>